# Ignore DS_Store files
.DS_Store

**/.DS_Store

# Ignore node_modules directory
node_modules/

# Ignore compiled Python files
__pycache__/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore compiled Java classes
*.class

# Ignore compiled C files
*.o

# Ignore compiled binaries
bin/

# Ignore Visual Studio Code settings
.vscode/
